@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

html {
  --background: #2e3844;
  --foreground: #f5f5ee;
  background-color: var(--background);
  color: var(--foreground);
  box-sizing: border-box;
  font-size: 18px;
  font-family: "IBM Plex Sans", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
